/* CSS written by Fetysz from scratch */

/* Background */

  body {
    background: url('https://cdn.discordapp.com/attachments/647556737507000334/740307979118837951/et6ow3dkxll31.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

/* Content */

  /* Topbar */

    .topbar {
      background: rgba(124, 171, 24, .5);
      backdrop-filter: blur(4px);

      border-radius: 0 0 8px 8px;

      width: 95%;
    }

  /* Navbar */

    .navbar {
      background: rgba(190, 247, 90, .5);
    }

  /* Main thing */

    .main {
      background: rgba(0, 0, 0, .75);
      backdrop-filter: blur(4px);

      border: none;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .75);

      width: 85%;
    }

  /* Right column */

    .col-md-9 {
      background: transparent;
    }